<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
    <link href="~/css/principal.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li class="dropdown">
                <a href="#">Administración de datos</a>
                <ul class="submenu">
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Afiliados</a>
                <ul class="submenu">
                    <li><a href="#">Submenu 4</a></li>
                    <li><a href="#">Submenu 5</a></li>
                    <li><a href="#">Submenu 6</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Procesos</a>
                <ul class="submenu">
                    <li><a href="#">Submenu 7</a></li>
                    <li><a href="#">Submenu 8</a></li>
                    <li><a href="#">Submenu 9</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Reportes</a>
                <ul class="submenu">
                    <li><a href="#">Submenu 10</a></li>
                    <li><a href="#">Submenu 11</a></li>
                    <li><a href="#">Submenu 12</a></li>
                </ul>
            </li>
        </ul>
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="containerHeader">
        <h1></h1><img src="~/resources/ldalajuelense_logo.png" style="width: 20%"/>
    </div>
    <div class="principal-container">
        <p>CAMPBELL A LA LIGA</p>
    </div>


    <script src="~/js/principal.js" asp-append-version="true"></script>
</body>

</html>
